---
layout: default
---

{% include header.html %}
  <div data-component="Content" class="content">
    <div class="home-content w-container">
      {% if site.categories.adventures.size > 0 %}
      <h1 class="heading-5">Recent Adventures</h1>
      <div class="sample-blog">
        {% for page in site.categories.adventures limit:3 %}
        <div class="post-container">
          {% if page.featured-img %}
          <div class="post-background" style="background-image: url('{{ site.url }}{{ site.baseurl }}/assets/images/{{ page.featured-img }}')"></div>
          {% else %}
          <div class="post-background"></div>
          {% endif %}
          <a href="{{ page.url }}" class="post w-inline-block">
            <h3 class="heading-2 post-title">{{ page.title }}</h3>
            <h5 class="heading-2 post-meta">
              {{ page.date | date: "%b %-d" }}  • {{ page.content | read_time_short }}
            </h5>
            <h5 class="heading post-description">{{ page.excerpt | truncatewords: 18 }}</h5>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if site.categories.blog.size > 0 %}
      <h1 class="heading-4">Recent Blog Posts</h1>
      <div class="sample-blog">
        {% for page in site.categories.blog limit:3 %}
        <div class="post-container">
          {% if page.featured-img %}
          <div class="post-background" style="background-image: url('{{ site.url }}{{ site.baseurl }}/assets/images/{{ page.featured-img }}')"></div>
          {% else %}
          <div class="post-background"></div>
          {% endif %}
          <a href="{{ page.url }}" class="post w-inline-block">
            <h3 class="heading-2 post-title">{{ page.title }}</h3>
            <h5 class="heading-2 post-meta">
              {{ page.date | date: "%b %-d" }}  • {{ page.content | read_time_short }}
            </h5>
            <h5 class="heading post-description">{{ page.excerpt | truncatewords: 18 }}</h5>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if site.categories.portfolio.size > 0 %}
      <h1 class="heading-3">Recent Portfolio</h1>
      <div class="sample-blog">
        {% for page in (site.categories.portfolio limit:3 %}
        <div class="post-container">
          {% if page.featured-img %}
          <div class="post-background" style="background-image: url('{{ site.url }}{{ site.baseurl }}/assets/images/{{ page.featured-img }}')"></div>
          {% else %}
          <div class="post-background"></div>
          {% endif %}
          <a href="{{ page.url }}" class="post w-inline-block">
            <h3 class="heading-2 post-title">{{ page.title }}</h3>
            <h5 class="heading-2 post-meta">
              {{ page.date | date: "%b %-d" }}  • {{ page.content | read_time_short }}
            </h5>
            <h5 class="heading post-description">{{ page.excerpt | truncatewords: 18 }}</h5>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <h1 class="heading-3">Tools and Experience</h1>
      <div class="experience">
        {% for skill in site.skills %}
        <a class="experience-item" target="_blank" href="{{ skill[1] }}">
          <h1>
            <i class="devicon-{{ skill[0] }}-plain colored"></i>
          </h1>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% include footer.html %}
